:host {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.header {
  box-sizing: border-box;
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 100%;
  border: 1px solid dimgray;
}

.header:hover, .header:focus {
  border: 1px purple solid;
}

input {
  border: none;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-family: Chalkboard, sans-serif;
  font-size: medium;
  text-wrap: wrap;
  box-sizing: border-box;
}

input:focus, input:hover {
  border: 1px purple solid;
}

button {
  height: 100%;
  width: 30%;
  box-sizing: border-box;
}

.vertical button {
  height: 30%;
  width: 100%;
}

.vertical {
  flex-direction: column;
}
