.header {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.header:hover, .header:focus {
  border: 1px purple solid;
}

input {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.input:focus, input:hover {
  border: 1px purple solid;
}

button {
  height: 100%;
  width: 30px;
}

.vertical button {
  height: 30px;
  width: 100%;
}

.vertical {
  flex-direction: column;
}
