:host {
  box-sizing: content-box;
}

.header {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 100%;

}

.header:hover, .header:focus {
  border: 1px purple solid;
}

input {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-family: Chalkboard;
  /*font-size: 16px;*/
  font-size: medium;
  text-wrap: normal;
}

input:focus, input:hover {
  border: 1px purple solid;
}

button {
  height: 100%;
  width: 30%;
}

.vertical button {
  height: 30%;
  width: 100%;
}

.vertical {
  flex-direction: column;
}
