:host {
  display: contents;
}

.grid-buttons {
  position: relative;
  display: flex;
  align-self: stretch;
  margin-top: var(--page-margin);
}

.clear-button {
  margin-left: auto;
}

.invalid-tag {
  position: absolute;
  inset: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: var(--page-margin);
  background-color: var(--faded-red);
  color: black;
  border: var(--red-border);
}
