
:host {
  box-sizing: border-box;
  font-family: Arial;
}

mat-grid-list {
  max-width: 800px;
}

.blank {
 background-color: transparent;
}

.header {
  background-color: transparent;
  border: none;
  text-align: center;
  width: 70px;
  height: 30px;
}

.header:hover {
  border: 1px purple solid;
}

.header:focus {
  background-color: white;
  border: 1px transparent solid;
  transform: none;
  width: fit-content;
}

.vertical {
  transform: rotate(290deg);
}

#left-feature:focus #top-option:focus {
  flex-direction: column;
  justify-content: space-between;
}

#left-option:focus #top-feature:focus {
  justify-content: space-between;
}

.other {
  width: 100%;
  height: 100%;
}

.cell-active {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  border: dimgray 1px double;
  padding: 3px;
}

.cell-inactive {
  display: flex;
  align-items: center;
  justify-content: center;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  font-size: 18px;
  border: dimgray 1px double;
}

.xo-buttons {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.xo-button {
  background-color: white;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: transparent 1px solid;
  color: purple;
}

.xo-button:hover {
  cursor: pointer;
  border: purple 1px solid;
}

.clear-buttons {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  background-color: purple;
  font-size: 12px;
}

.clear-button {
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #800080;
  color: white;
  border: transparent 2px solid;
}

.clear-button:hover {
  cursor: pointer;
  border: 2px purple solid;
  background-color: white;
  color: purple;
}

.cell:focus {
  border: purple 1px solid;
}

.cell-inactive:hover {
  cursor: pointer;
  border: purple 1px solid;
}
