<mat-grid-list
  [cols]="getColumnCount()"
  rowHeight="1:1"
  gutterSize="0"
  [style.max-width.px]="cols*42">
  <mat-grid-tile
    *ngFor="let tile of getTiles()"
    [colspan]="tile.cols"
    [rowspan]="tile.rows"
    [style.background]="tile.color"
    [ngSwitch]="tile.type"
  [ngClass]="getBorder(tile)">
    <div *ngSwitchCase="'CELL_INACTIVE'"
      class="cell-inactive"
      (click)="switchOut(tile)">
      {{tile.text}}
    </div>
    <div *ngSwitchCase="'CELL_ACTIVE'"
      class="cell-active">
      <div class="xo-buttons">
        <div
          class="xo-button"
          (click)="updateTile(tile, 'O')">O
        </div>
        <div
          class="xo-button"
          (click)="updateTile(tile, 'X')">X
        </div>
      </div>
      <div class="clear-buttons">
        <div
          class="clear-button"
          (click)="updateTile(tile, '')">clear
        </div>
        <div
          class="clear-button"
          (click)="updateTile(tile, tile.text)">x
        </div>
      </div>
    </div>
    <app-header *ngSwitchCase="'LEFT_FEATURE_HEADER'" [tile]="tile"></app-header>
    <app-header *ngSwitchCase="'LEFT_OPTION_HEADER'" [tile]="tile"></app-header>
    <app-header *ngSwitchCase="'TOP_FEATURE_HEADER'" [tile]="tile"></app-header>
    <app-header *ngSwitchCase="'TOP_OPTION_HEADER'" [tile]="tile"></app-header>
    <button *ngSwitchCase="'ADD_FEATURE'"
      class="other"
      (click)="addFeature()">{{tile.text}}
    </button>
    <button *ngSwitchCase="'ADD_OPTION'"
      class="other"
      (click)="addOption()">{{tile.text}}
    </button>
    <div *ngSwitchDefault
      class="blank"></div>
  </mat-grid-tile>
</mat-grid-list>
<button (click)="clearCells()">Clear Cells</button>
<button (click)="undo()">Undo</button>

