<div
  class="grid"
  [style.grid-auto-rows]="CELL_SIZE"
  [style.grid-template-columns]="`repeat(${columnCount()}, ${CELL_SIZE})`">

  @for (tile of tileService.tiles(); track `${$index}-${tile.type}`) {
    <div
      class="tile"
      [id]="`${$index}-${tile.type}`"
      [attr.data-tile-type]="tile.type"
      [style.grid-column]="`span ${tile.cols}`"
      [style.grid-row]="`span ${tile.rows}`"
      [style.background]="tile.backgroundColor"
      [ngClass]="getBorder(tile)">

      @switch (tile.type) {
        @case ('CELL') {
          <app-cell [tile]="tile"/>
        }
        @case ('ADD_FEATURE') {
          <button
            class="other"
            (click)="addFeature()">{{ tile.text }}
          </button>
        }
        @case ('ADD_OPTION') {
          <button
            class="other"
            (click)="addOption()">{{ tile.text }}
          </button>
        }
        @default {
          @if (isHeader(tile)) {
            <app-header [tile]="tile"/>
          } @else {
            <div
              class="blank"></div>
          }
        }

      }
    </div>
  }
</div>
<button (click)="clearCells()" class="clear-button">Clear Cells</button>
