<div
  (mouseover)="showMinus()"
  (mouseleave)="hideMinus()"
  class="header"
  [style.background-color]="backgroundColor()"
  [class.vertical]="isVertical()">
  <input
    name="header-input"
    [attr.aria-label]="nameLabel()"
    [class]="tile().type"
    [style.color]="textColor()"
    (keyup.enter)="onChangeName($event)"
    (blur)="onChangeName($event)"
    [value]="tile().text">
  @if (shouldShowMinus()) {
    <button
      (mouseover)="showMinus()"
      (mouseleave)="hideMinus()"
      (blur)="hideMinus()"
      class="delete"
      [attr.aria-label]="deleteLabel()"
      [disabled]="isDeleteDisabled()"
      (click)="onClickDelete()">-
    </button>
  }
</div>
