
.cell-active {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border: dimgray 1px solid;
}

.cell-inactive {
  display: flex;
  align-items: center;
  justify-content: center;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  font-size: medium;
  border: dimgray 1px solid;
}

.xo-buttons {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  font-size: small;
}

.xo-button {
  background-color: white;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: transparent 1px solid;
  color: purple;
}

.xo-button:hover {
  cursor: pointer;
  border: purple 1px solid;
}

.clear-buttons {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  background-color: purple;
  font-size: 12px;
}

.clear-button {
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #800080;
  color: white;
  border: transparent 2px solid;
}

.clear-button:hover {
  cursor: pointer;
  border: 2px purple solid;
  background-color: white;
  color: purple;
}

.cell-inactive:hover {
  cursor: pointer;
  border: purple 1px solid;
}
