<div
  id="cell"
  class="cell"
  [autoClose]="true"
  [ngbPopover]="pop"
  placement="bottom"
  [textContent]="cellText">
</div>
<ng-template #pop>
  <div>
    <div class="trapezoid"></div>
    <div class="buttons">
      <div class="xoBtns">
        <div class="button" (click)="onClick('O')">O</div>
        <div class="button" (click)="onClick('X')">X</div>
      </div>
      <div>
        <div
          (click)="onClick(' ')"
          class="clear">clear
        </div>
      </div>
    </div>
  </div>
</ng-template>

