<!--<a-->
<!--  tabindex="0"-->
<!--  class="btn btn-lg btn-danger"-->
<!--  role="button"-->
<!--  data-toggle="popover"-->
<!--  data-trigger="focus"-->
<!--  title="Dismissible popover"-->
<!--  data-content="cell-popover-component">-[   ]- -->
<!--</a>-->
<!--#popover="ngbPopover"-->
<button
  id="cell"
  type="button"
  class="cell btn btn-outline-secondary"
  [autoClose]="true"
  [ngbPopover]="pop"
  placement="bottom"
  #cell>{{cellText}}
</button>
<ng-template #pop>
  <div class="popover">
    <div class="trapezoid"></div>
    <div class="buttons">
      <button (click)="onClick('O')">O</button>
      <button (click)="onClick('X')">X</button>
      <div class="clear">
        <button
          (click)="onClick('')"
          style="border: none">clear
        </button>
      </div>
    </div>
  </div>
</ng-template>

