<button
  id="cell"
  type="button"
  class="cell btn btn-outline-secondary"
  [autoClose]="true"
  [ngbPopover]="pop"
  placement="bottom"
[innerText]="cellText">
</button>
<ng-template #pop>
  <div>
    <div class="trapezoid"></div>
    <div class="popover">
      <button class="buttons" (click)="onClick('O')">O</button>
      <button (click)="onClick('X')">X</button>
      <div>
        <button
          (click)="onClick(' ')"
          class="clear">clear
        </button>
      </div>
    </div>
  </div>
</ng-template>

