:root {
  --cell-size: 60px;
  --button-height: 44px;
  --page-margin: 8px;

  --red: #CC3333;
  --white: #FFFFFF;
  --black: #000000;
  --grey: dimgrey;
  --button-hover: #DDDDDD;
  --faded-red: color-mix(in oklab, var(--red), var(--white) 40%);

  --grey-border: var(--grey) 1px solid;
  --red-border: var(--red) 2px solid;
  --thick-border-width: 4px;
  --thick-border: var(--black) var(--thick-border-width) solid;

  --header-skew: -20deg;
  --header-input-padding: 4px;
  --header-baseline: calc(var(--cell-size) * 4);

  --band-shadow-offset: 3px;
  --band-shadow-blur: 4px;
  --band-shadow-spread: -1px;
  --band-shadow-color: rgba(0, 0, 0, 0.3);
  --right-shadow: var(--band-shadow-offset) 0 var(--band-shadow-blur) var(--band-shadow-spread) var(--band-shadow-color);
  --bottom-shadow: 0 var(--band-shadow-offset) var(--band-shadow-blur) var(--band-shadow-spread) var(--band-shadow-color);
  --right-and-bottom-shadow: var(--band-shadow-offset) var(--band-shadow-offset) var(--band-shadow-blur) var(--band-shadow-spread) var(--band-shadow-color);

  height: 100%;

  body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: var(--page-margin);
  }
}

button,
input {
  border-radius: 0;
}

button {
  background-color: white;
  color: black;
}
